<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">

		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Loại tin tức</label>
			<div class="col-sm-10">
				<th:block th:if="${!#authorization.expression('hasAuthority(''Admin'')') && !#authorization.expression('hasAuthority(''Editor'')')}">
					<th:block
						th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
						<!-- <input class="form-control" type="text" th:field="*{kindContent}"
							readonly="readonly"> -->
						<select th:field="*{kindContent}" class="form-control" readonly="readonly">
							<option value="B01" th:selected="(${kindContent} == B01)">Tin HTY COMPUTER</option>
							<!--<option value="B02" th:selected="(${kindContent} == B02)">Tin ĐẤT VÀNG</option>-->
							<option value="B03" th:selected="(${kindContent} == B03)">Tin hệ thống</option>

						</select>
					</th:block>
				</th:block>
				<th:block th:if="${#authorization.expression('hasAuthority(''Admin'')') || #authorization.expression('hasAuthority(''Editor'')')}">
					<!-- <input class="form-control" type="text" th:field="*{kindContent}" required minlength="3" maxlength="256"> -->
					<select th:field="*{kindContent}" class="form-control"
						>
						<option value="B01" th:selected="(${kindContent} == B01)">Tin HTY COMPUTER</option>
						<!--<option value="B02" th:selected="(${kindContent} == B02)">Tin
							ĐẤT VÀNG</option>-->
						<option value="B03" th:selected="(${kindContent} == B03)">Tin
							hệ thống</option>

					</select>
				</th:block>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6 row">
				<label class="col-sm-4 col-form-label">Ngày bắt đầu sự kiện</label>
				<div class="col-auto">
					<th:block
						th:if="${!#authorization.expression('hasAuthority(''Admin'')') && !#authorization.expression('hasAuthority(''Editor'')')}">
						<th:block
							th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
							<input class="form-control" type="date" th:field="*{startDate}"
								readonly="readonly">
						</th:block>
					</th:block>
					<th:block
						th:if="${#authorization.expression('hasAuthority(''Admin'')') || #authorization.expression('hasAuthority(''Editor'')')}">
						<input class="form-control" id="fieldSDate" type="date" th:field="*{startDate}"
							required>
					</th:block>
				</div>
			</div>
			<div class="col-sm-6 row">
				<label class="col-sm-4 col-form-label">Ngày kết thúc sự kiện</label>
				<div class="col-auto">
					<th:block
						th:if="${!#authorization.expression('hasAuthority(''Admin'')') && !#authorization.expression('hasAuthority(''Editor'')')}">
						<th:block
							th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
							<input class="form-control" type="date" th:field="*{endDate}"
								readonly="readonly">
						</th:block>
					</th:block>
					<th:block
						th:if="${#authorization.expression('hasAuthority(''Admin'')') || #authorization.expression('hasAuthority(''Editor'')')}">
						<input class="form-control" id="fieldEDate" type="date" th:field="*{endDate}"
							required>
					</th:block>
				</div>
			</div>
		</div>
		<div class="col border m-3 p-2">
			<div>
				<label>Poster tin tức</label>
			</div>
			<div class="m-2">
				<img id="thumbnail" alt="Main image preview" class="img-fluid"
					width="200px" th:src="@{${board.boardImagePath}}">
			</div>
			<div>
				<input type="file" id="fileImage" name="fileImage" onchange="checkFileSize(this)"
					th:required="${board.mainImage == null}"
					accept="image/png , image/jpeg" />
			</div>
			<input type="hidden" th:field="*{mainImage}" />
		</div>
		<div class="form-group row">
			<label class="col-auto col-form-label">Hiển thị tin tức</label>
			<div class="col-auto">
				<th:block
					th:if="${!#authorization.expression('hasAuthority(''Admin'')') && !#authorization.expression('hasAuthority(''Editor'')')}">
					<th:block
						th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
						<th:block th:if="${product.category != null}">
							<input type="checkbox" th:field="*{enabled}" disabled="disabled">
						</th:block>
					</th:block>
				</th:block>
				<th:block
					th:if="${#authorization.expression('hasAuthority(''Admin'')') || #authorization.expression('hasAuthority(''Editor'')')}">
					<input type="checkbox" th:field="*{enabled}">
				</th:block>
			</div>
		</div>
	</div>
	</div>

</body>
</html>