<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- Main Head -->
<head>
<head th:replace="fragments :: page_head(${pageTitle}, 'tag')" />
<link rel="stylesheet" type="text/css"
	th:href="@{/richText/richtext.min.css}">
<script th:src="@{/richText/jquery.richtext.js}"></script>
</head>

<!-- End Head -->



<body class="app sidebar-mini rtl">

	<!-- Main Header -->
	<div th:replace="fragments/header :: menu"></div>
	<!-- End Header -->
	<main class="app-content">
		<div class="row">
			<div class="col-md-12">

				<div class="tile">

					<h3 class="tile-title">[[${pageTitle}]]</h3>
					<div class="tile-body">

						<form th:action="@{/order/save}" method="post" onsubmit="return processFormBeforeSubmit();"
							th:object="${order}" id="myForm">
							<input type="hidden" th:field="*{id}" />
							<div>
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item"><a class="nav-link active"
										id="overview-tab" data-toggle="tab" href="#overview"
										role="tab">Tổng quan</a></li>
									<li class="nav-item"><a class="nav-link" id="products-tab"
										data-toggle="tab" href="#products" role="tab">Sản phẩm</a></li>
									<li class="nav-item"><a class="nav-link" id="shipping-tab"
										data-toggle="tab" href="#shipping" role="tab">Địa chỉ</a></li>
									<li class="nav-item"><a class="nav-link" id="track-tab"
										data-toggle="tab" href="#track" role="tab">Tình trạng đơn
											hàng</a></li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade show active p-3" id="overview" role="tabpanel">
										<div th:replace="orders/order_form_overview :: content"></div>
									</div>
									<div class="tab-pane fade p-3" id="products" role="tabpanel">
										<div th:replace="orders/order_form_products :: content"></div>
									</div>
									<div class="tab-pane fade p-3" id="shipping"role="tabpanel">
										<div th:replace="orders/order_form_shipping :: content"></div>
									</div>
									<div class="tab-pane fade p-3" id="track" role="tabpanel">
										<div th:replace="orders/order_form_tracks:: content"></div>	
									</div>
								</div>
							</div>
							<div>
								<p class="text-center">
									<input type="submit" value="Save" class="btn btn-primary m-3" />
									<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--
  MODAL
-->
			<div th:replace="modal_fragments :: modal_dialog"></div>
			<!--
  MODAL
-->
		</div>

	</main>


	<script type="text/javascript">
		contextPath = "[[@{/}]]";

		$(document).ready(function() {
			$('#buttonCancel').click(function() {
				window.location = "[[@{/orders}]]";
			});
		});
	</script>

	<script th:src="@{/js/commom-form.js}"></script>
	<script th:src="@{/js/common_form_country_state.js}"></script>
	<script th:src="@{/js/jquery.number.min.js}"></script>
	<script th:src="@{/js/order_form_overview_products.js}"></script>
	<script th:src="@{/js/order_form_tracks.js}"></script>
</body>

</html>