<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<!-- Main Head -->	
<head th:replace="fragments :: page_head('Lỗi', 'none')"></head>
	<!-- End Head -->
<body>

	<!-- Main Header -->	
<div th:replace="fragments/header :: menu"></div>
	<!-- End Header -->
	<main class="app-content">
	<div class="m-5 text-center">
		<h2>Xin lỗi, một lỗi không mong muốn đã xảy ra.</h2>
	
	</div>
	</main>

</body>
</html>