<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<!-- Main Head -->	
<head th:replace="fragments :: page_head(${pageTitle}, 'none')">

</head>
	<!-- End Head -->

<body class="app sidebar-mini rtl">

	<!-- Main Header -->	
<div th:replace="fragments/header :: menu"></div>
	<!-- End Header -->
	<main class="app-content">
		<div class="row">
			<div class="col-md-12">

				<div class="tile">

					<h3 class="tile-title">[[${pageTitle}]]</h3>
					<div class="tile-body">

						<form class="row" th:action="@{/brands/save}" method="post"
							enctype="multipart/form-data"
							onsubmit="return checkUnique(this)"
							th:object="${brand}">
							<input type="hidden" th:field="*{id}" />
							<div class="form-group col-md-12">
								<label class="control-label">Tên thương hiệu</label> <input
									class="form-control" type="text" th:field="*{name}" required
									minlength="3" maxlength="128">
							</div>

							<div class="form-group col-md-12">
								<label class="control-label">Logo</label>
								<div class="col-sm-2">
									
									<div id="myfileupload">
										<input type="hidden" th:field="*{logo}" /> 
										<input type="file" accept="image/png, image/jpeg"
											th:required="${brand.id == null}"
											id="uploadfile" name="uploadfile" onchange="readURL(this);" />
									</div>
									<div id="boxchoice">
										<a href="javascript:" class="Choicefile"></a>
										<p style="clear: both"></p>
									</div>
								</div>
								<div class="col-sm-2">
									<div id="thumbbox">
										<img class="img-fluid" width="150" th:src="@{${brand.logoPath}}"
											alt="Thumb image" id="thumbimage" />
											<a class="removeimg"
											href="javascript:"></a>
									</div>
								</div>
							</div>

							<div class="form-group col-md-6">
								<label class="control-label">
									Chọn danh mục thuộc thương hiệu:
								</label> 
								<select class="form-control" th:field="*{categories}"
									id="categories"  multiple required
									style="resize: vertical; height: 200px">

									<th:block th:each="cat : ${listCategories}">
										<option th:value="${cat.id}">[[${cat.name}]]</option>
									</th:block>
								</select>
							</div>

							<div class="form-group col-md-6">
								<label> <span class="label-text">Danh mục đã chọn:</span>
									<div class="col-sm-12">
										<div id="chosenCategories"></div>
									</div>
								</label>
							</div>

							<div class="form-group col-md-10">
								<button class="btn btn-save" type="submit" value="Save">Lưu
									lại</button>
								<a class="btn btn-cancel" th:href="@{/brands}"
									value="Cancel">Hủy bỏ</a>
							</div>


						</form>
					</div>

				</div>
			</div>
			<!--
  MODAL
-->
			<div th:replace="modal_fragments :: modal_dialog"></div>
			<!--
  MODAL
-->
		</div>

	</main>

<script th:src="@{/js/commom-form.js}"></script>

<script type="text/javascript">
	moduleURL = "[[@{/brands}]]";
	
	$(document).ready(function(){
		dropdownCategories = $("#categories");
		divChosenCategories = $("#chosenCategories");
		
		dropdownCategories.change(function(){
			divChosenCategories.empty();
			showChosenCategories();
		});
		showChosenCategories();
	});
	
	function showChosenCategories(){
		dropdownCategories.children("option:selected").each(function(){
			selectedCategory = $(this);
			catId = selectedCategory.val();
			catName = selectedCategory.text().replace(/-/g, "");
			/* alert(catId + ": " + catName);
			 */
			divChosenCategories.append("<span class='badge badge-secondary m-1' style='display:block'>" + catName + "</span>");
		});
	}
	
	
	function checkUnique(form){
		brandId = $("#id").val();
		brandName = $("#name").val();
		
		csrfValue = $("input[name='_csrf']").val();
		
		url = "[[@{/brands/check_unique}]]";
		
		params = {id: brandId, name: brandName, _csrf: csrfValue};
		
		$.post(url, params, function(response){
			if(response == "OK"){
				form.submit();
			}else if(response == "Duplicate"){
				showWarningModal("Tên thương hiệu đã được đăng kí: " + brandName);
			}else{
				showErrorModal("Không thể kết nối tới máy chủ");
			}
			
		}).fail(function(){
			showErrorModal("Không thể kết nối tới máy chủ");
		});
		
		return false;
	}
	
</script>
</body>

</html>