<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- Main Head -->
<head>
<head th:replace="fragments :: page_head(${pageTitle}, 'tag')" />
<!-- <link rel="stylesheet" type="text/css"
	th:href="@{/richText/richtext.min.css}"> -->
<!-- <script th:src="@{/richText/jquery.richtext.js}"></script> -->

<!-- <script th:src="@{/js/edit_text/tinymce.min.js}"></script> -->

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>


</head>
<!-- End Head -->
<body class="app sidebar-mini rtl">
	<!-- Main Header -->
	<div th:replace="fragments/header :: menu"></div>
	<!-- End Header -->
	<main class="app-content">
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<h3 class="tile-title">[[${pageTitle}]]</h3>
					<div class="tile-body">
						<form class="row" th:action="@{/notice/save}"
							th:object="${notice}" method="post" id="myForm">
							<input type="hidden" th:field="*{id}" />
							<div class="form-group col-sm-12">
								<div class="col-sm-12 row">
									<label>Tiêu đề: </label>
									<textarea class="form-control" th:field="*{shortDescription}"
										rows="3" required></textarea>
								</div>
							</div>
							<div class="form-group col-sm-12">
								<label>Chi tiết: </label>
								<textarea class="form-control" id="tinyTextField" th:field="*{fullDescription}"
									rows="20"></textarea>
							</div>
							<div class="form-group row">
								<div class="col-sm-6 row">
									<label class="col-sm-4 col-form-label">Ngày bắt đầu sự
										kiện</label>
									<div class="col-auto">
										<th:block
											th:if="${!#authorization.expression('hasAuthority(''Admin'')') && !#authorization.expression('hasAuthority(''Editor'')')}">
											<th:block
												th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
												<input class="form-control" type="date"
													th:field="*{startDate}" readonly="readonly">
											</th:block>
										</th:block>
										<th:block
											th:if="${#authorization.expression('hasAuthority(''Admin'')') || #authorization.expression('hasAuthority(''Editor'')')}">
											<input class="form-control" id="fieldSDate" type="date"
												th:field="*{startDate}" required>
										</th:block>
									</div>
								</div>
								<div class="col-sm-6 row">
									<label class="col-sm-4 col-form-label">Ngày kết thúc sự
										kiện</label>
									<div class="col-auto">
										<th:block
											th:if="${!#authorization.expression('hasAuthority(''Admin'')') && !#authorization.expression('hasAuthority(''Editor'')')}">
											<th:block
												th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
												<input class="form-control" type="date"
													th:field="*{endDate}" readonly="readonly">
											</th:block>
										</th:block>
										<th:block
											th:if="${#authorization.expression('hasAuthority(''Admin'')') || #authorization.expression('hasAuthority(''Editor'')')}">
											<input class="form-control" type="date" th:field="*{endDate}"
												required>
										</th:block>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-auto col-form-label">Hiển thị thông báo</label>
								<div class="col-auto">
									<th:block
										th:if="${!#authorization.expression('hasAuthority(''Admin'')') && !#authorization.expression('hasAuthority(''Editor'')')}">
										<th:block
											th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
												<input type="checkbox" th:field="*{enabled}"
													disabled="disabled">
										</th:block>
									</th:block>
									<th:block
										th:if="${#authorization.expression('hasAuthority(''Admin'')') || #authorization.expression('hasAuthority(''Editor'')')}">
										<input type="checkbox" th:field="*{enabled}">
									</th:block>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-auto col-form-label">Thông báo dạng Poppup</label>
								<div class="col-auto">
									<th:block
										th:if="${!#authorization.expression('hasAuthority(''Admin'')') && !#authorization.expression('hasAuthority(''Editor'')')}">
										<th:block
											th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
												<input type="checkbox" th:field="*{poppup}"
													disabled="disabled">
										</th:block>
									</th:block>
									<th:block
										th:if="${#authorization.expression('hasAuthority(''Admin'')') || #authorization.expression('hasAuthority(''Editor'')')}">
										<input type="checkbox" th:field="*{poppup}">
									</th:block>
								</div>
							</div>
							<div class="form-group col-md-10 text-center">
								<button class="btn btn-save" id="submit-button" type="submit"
									value="Save">Lưu lại</button>
								<!-- <input class="btn btn-cancel" value="Cancel" id="buttonCancel" /> -->
								<a class="btn btn-cancel" th:href="@{/notice}" value="Cancel">Hủy
									bỏ</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--MODAL-->
			<div th:replace="modal_fragments :: modal_dialog"></div>
			<!--MODAL-->
		</div>
	</main>
	<!--===============================================================================================-->
	<script type="text/javascript">
		contextPath = "[[@{/}]]";
		moduleURL = "[[@{/notice}]]";
	</script>
	<script th:src="@{/js/commom-form.js}"></script>

	<script>
		tinymce
				.init({
					selector : 'textarea#tinyTextField',
					plugins : [ 'a11ychecker', 'advlist', 'advcode',
							'advtable', 'autolink', 'checklist', 'export',
							'lists', 'link', 'image', 'charmap', 'preview',
							'anchor', 'searchreplace', 'visualblocks',
							'powerpaste', 'fullscreen', 'formatpainter',
							'insertdatetime', 'media', 'table', 'help',
							'wordcount' ],
					toolbar : 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |'
							+ 'bullist numlist checklist outdent indent | removeformat | code table help'
				})
	</script>

	<!--===============================================================================================-->
</body>

</html>