<!doctype html>
<html class="no-js" lang="vn" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>

<body>

	<!-- Main Wrapper Start -->
	<!--Offcanvas menu area start-->
	<div class="off_canvars_overlay"></div>
	<div th:replace="navigation :: offcanvas_menu"></div>
	<header th:replace="navigation :: header_menu"></header>
	<!--header area end-->
<div id="br-color-conent">
	<!--shop  area start-->
	<div class="shop_area shop_reverse">
		<div class="container-fluid text-center">
			<div class="shop_inner_area">
				<h2 class="text-center mt-2">Quên mật khẩu</h2>
				<form th:action="@{/forgot_password}" method="post" class="br-color-w" style="max-width: 400px; margin: 0 auto">
					<div th:if="${error != null}">
						<p class="text-danger">[[${error}]]</p>
					</div>
					<div th:if="${message != null}">
						<p class="text-warning">[[${message}]]</p>
					</div>
					<div class="border rounded p-3">
						<div>
							<span>Nhập Email của bạn để nhận mật khẩu mới!</span>
						</div>
						<div>
							<input  type="email" name="email"
								class="form-control mt-2" placeholder="email của bạn..."
								required="required" autofocus="autofocus" />
						</div>
						<div>
							<input type="submit" value="Gửi" class="btn btn-primary mt-2" />
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--shop  area end-->

	<!--footer area start-->
	<div th:replace="navigation :: footer"></div>
	<!--footer area end-->
	</div>
	<script type="text/javascript">
	contextPath = "[[@{/}]]";
</script>

	<!-- Plugins JS -->
	<script th:src="@{/js/plugins.js}"></script>
	<!-- Main JS -->
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/common_customer_form.js}"></script>

</body>

</html>