<!doctype html>
<html class="no-js" lang="vn" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>

<body>

	<!-- Main Wrapper Start -->
	<!--Offcanvas menu area start-->
	<div class="off_canvars_overlay"></div>
	<div th:replace="navigation :: offcanvas_menu"></div>
	<header th:replace="navigation :: header_menu"></header>
	<!--header area end-->
<div id="br-color-conent">
	<!--shop  area start-->
	<div class="shop_area shop_reverse">
		<div class="container-fluid text-center">
			<div class="shop_inner_area">
				<h2 class="text-center mt-2">Thay đổi mật khẩu</h2>
				<form th:action="@{/reset_password}" method="post" class="br-color-w" style="max-width: 400px; margin: 0 auto">
					<input type="hidden" th:value="${token}" name="token">
					<div class="border rounded p-3">
						
						<div>
							<input class="form-control mt-2" type="password" name="password" id="password"
								placeholder="nhập mật khẩu mới"
								required="required" autofocus="autofocus" minlength=8 maxlength=15>
						</div>
						<div>
							<input class="form-control mt-2" type="password"
								oninput="checkPasswordMatch(this)"
								placeholder="nhập lại mật khẩu mới"
								required="required" autofocus="autofocus" minlength=8 maxlength=15>
						</div>
						<div>
							<input type="submit" value="Lưu" class="btn btn-primary mt-2" />
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--shop  area end-->

	<!--footer area start-->
	<div th:replace="navigation :: footer"></div>
	
	<!--footer area end-->
	</div>
	<script type="text/javascript">
	contextPath = "[[@{/}]]";
	
	function checkPasswordMatch(confirmPassword) {
		if (confirmPassword.value != $("#password").val()) {
			confirmPassword.setCustomValidity("Mật khẩu không khớp!")
		} else {
			confirmPassword.setCustomValidity("");
		}

	}
	</script>

	<!-- Plugins JS -->
	<script th:src="@{/js/plugins.js}"></script>
	<!-- Main JS -->
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/common_customer_form.js}"></script>

</body>

</html>