<div class="modal-header">
	<h4 style="color: rgb(190, 40, 40);" class="modal-title">Chi tiết người dùng</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab">Tổng quan</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="address-tab" data-toggle="tab"href="#address" role="tab">Địa chỉ</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane active p-3" id="general" role="tabpanel" aria-labelledby="general-tab">
			<div class="form-group row">
				<label for="id" class="col-sm-2 col-form-label">ID người dùng</label>
				<div class="col-sm-10">
					<input class="form-control" readonly type="text" th:value="${customer.id}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="name" class="col-sm-2 col-form-label">Tên người dùng</label>
				<div class="col-sm-10">
					<input class="form-control" readonly type="text" th:value="${customer.fullName}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="email" class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-10">
					<input class="form-control" readonly type="text" th:value="${customer.email}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="phone" class="col-sm-2 col-form-label">Số điện thoại</label>
				<div class="col-sm-10">
					<input class="form-control" readonly type="text" th:value="${customer.phoneNumber}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="enabled" class="col-sm-2 col-form-label">Trạng thái</label>
				<div class="col-sm-10">
					<input readonly type="checkbox" th:checked="${customer.enabled}" disabled="disabled" />
				</div>
			</div>
			<div class="form-group row">
				<label for="createdTime" class="col-sm-2 col-form-label">Thời gian khởi tạo</label>
				<div class="col-sm-10">
					<span th:text="${#dates.format(customer.createdTime, 'dd-MM-yyyy HH:mm:ss')}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Thâm niên</label>
				<div class="col-sm-10">
					<span>[[${customer.seniorityInYMD}]] </span>
				</div>
			</div>
		</div>
		<div class="tab-pane fade show p-3" id="address" role="tabpanel" aria-labelledby="address-tab">
			<div class="form-group row">
				<label for="address2" class="col-sm-2 col-form-label">Địa chỉ cụ thể:</label>
				<div class="col-sm-10">
					<input class="form-control" readonly type="text" th:value="${customer.addr}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="address1" class="col-sm-2 col-form-label">Số nhà/ tên đường:</label>
				<div class="col-sm-10">
					<input class="form-control" readonly type="text" th:value="${customer.houseStreet}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="city" class="col-sm-2 col-form-label">Thành phố:</label>
				<div class="col-sm-10">
					<input class="form-control" readonly type="text" th:value="${customer.city}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="state" class="col-sm-2 col-form-label">Quận huyện:</label>
				<div class="col-sm-10">
					<input class="form-control" readonly type="text" th:value="${customer.state}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="country" class="col-sm-2 col-form-label">Quốc gia:</label>
				<div class="col-sm-10">
					<input class="form-control" readonly type="text" th:value="${customer.country.name}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="postal" class="col-sm-2 col-form-label">Mã ZIP:</label>
				<div class="col-sm-10">
					<input class="form-control" readonly type="text" th:value="${customer.postalCode}" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
</div>