<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<!-- Main Head -->	
<head th:replace="fragments :: page_head('Quản lý người dùng', 'none')"></head>
	<!-- End Head -->

<body  class="app sidebar-mini rtl">

	<!-- Main Header -->	
<div th:replace="fragments/header :: menu"></div>
	<!-- End Header -->
	
  <main class="app-content">
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
					<div class="tile-body">
						<div class="row element-button">
							<div class="col-sm-1">
								<a th:href="@{/users/export/csv}"
									class="btn btn-delete btn-sm print-file js-textareacopybtn"
									type="button" title="Xuất file CSV"><i
									class="fas fa-file-csv"></i> Xuất CSV</a>
							</div>

<!-- 							<div class="pull-end" th:replace="fragments :: search_form"></div> -->

						</div>
						<div th:replace="fragments :: message"></div>

						<table class="table table-hover table-bordered js-copytextarea table-responsive"
							cellpadding="0" cellspacing="0" border="0" id="sampleTable">
							<thead>
								<tr>
									<th >Tính năng</th>
									<th>Tên</th>
									<th>Trạng thái</th>
									<th>Số điện thoại</th>
									<th>Email</th>
									<th>Địa chỉ</th>
									<th>Thành phố</th>
									<th>Tỉnh</th>
									<th>Quốc gia</th>
									<th>Mã bưu điện</th>
									<th>Loại t.khoản</th>
									<th>Người c.nhật cuối</th>
									<th>T.gian cập nhật</th>
								
								</tr>
							</thead>
							<tbody>
								<tr th:each="customer : ${listCustomers}">
									<td class=" fixed-col-fixed">
										<a class="link-detail p-2"
											th:href="@{'/customers/detail/' + ${customer.id}}"
											title="Chi tiết người dùng"> <span class="iconify" data-icon="gg:details-more" style="color: #219917;" data-width="24" data-height="24"></span></a>
										<div th:replace="fragments :: edit('customer', '/customers/edit/' + ${customer.id})"></div>
										<div th:replace="fragments :: delete('customer', ${customer.id}, '/customers/delete/' + ${customer.id}, true)"></div>
									</td>
									<td>[[${customer.getFullName}]]</td>
									<td>
										<div th:replace="fragments :: status(${customer.enabled}, 'customer', '/customers/' + ${customer.id})"></div>
									</td>
									<td>[[${customer.phoneNumber}]]</td>
									<td>[[${customer.email}]]</td>
									<td>[[${customer.getAddr}]]</td>
									<td>[[${customer.city}]]</td>
									<td>[[${customer.state}]]</td>
									<td>[[${customer.NameCountry}]]</td>
									<td>[[${customer.postalCode}]]</td>
									<td>[[${customer.nameAuthenType}]]</td>
									<td>[[${customer.workUser}]]</td>
									<td>[[${customer.upDateFormat}]]</td>
									
								</tr>
							</tbody>
						</table>
					</div>

					<div th:replace="fragments :: pagination('tài khoản ')"></div>
        </div>
      </div>
    </div>

<div th:replace="modal_fragments :: confirm_modal"></div>
<div class="modal fade" id="detailModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content"></div>
	</div>
</div>
  </main>

<!-- Essential javascripts for application to work-->


	<script th:src="@{/js/commom-list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/customers}]]";

		$(document).ready(
				function() {
					$(".link-delete").on("click", function(e) {
						e.preventDefault();
						showDeleteConfirmUserModal($(this), 'người dùng ');
					});
					$(".link-detail").on(
							"click",
							function(e) {
								e.preventDefault();
								linkDetailURL = $(this).attr("href");
								$("#detailModal").modal("show").find(
										".modal-content").load(linkDetailURL);
							});
				});
	</script>

	<div th:replace="fragments/js.html"></div>

	<script th:inline="javascript">
		$('#sampleTable').DataTable({
			"paging" : false,
			"searching" : true,
			"info" : false,
			"fixedColumns" : {
				leftColumns : 2
			},
			"language" : {
				"search" : "Tìm kiếm:",
				"sZeroRecords" : "Không tìm thấy dữ liệu"
			},
	        dom: 'Bfrtip',
	        buttons: [
	            {
	                extend: 'csv',
	                text: '<i class="fas fa-file-csv"></i> Xuất file CSV',
	                exportOptions: {
	        			columns: ':not(:first-child, :nth-child(3))'
	        		},
	        		filename: 'customer_' + new Date().toLocaleDateString() + "_" + new Date().toLocaleTimeString().slice(0,5)
	            },
	            {
	                extend: 'excel',
	                text: '<i class="fas fa-file-excel"></i> Xuất file Excel',
	                exportOptions: {
	        			columns: ':not(:first-child, :nth-child(3))'
	        		},
	        		filename: 'customer_' + new Date().toLocaleDateString() + "_" + new Date().toLocaleTimeString().slice(0,5)
	            },
	            {
	                extend: 'pdf',
	                text: '<i class="fas fa-file-pdf"></i> Xuất file PDF',
	                exportOptions: {
	        			columns: ':not(:first-child, :nth-child(3))'
	        		},
	        		filename: 'customer_' + new Date().toLocaleDateString() + "_" + new Date().toLocaleTimeString().slice(0,5)
	            },
	            {
	                extend: 'print',
	                text: '<i class="fas fa-print"></i> In',
	                exportOptions: {
	        			columns: ':not(:first-child, :nth-child(3))'
	        		},
	        		filename: 'customer_' + new Date().toLocaleDateString() + "_" + new Date().toLocaleTimeString().slice(0,5)
	            }
	        ]
		});
	</script>
</body>

</html>