<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<!-- Main Head -->	
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>
	<!-- End Head -->

<body class="app sidebar-mini rtl">

	<!-- Main Header -->	
<div th:replace="fragments/header :: menu"></div>
	<!-- End Header -->

  <main class="app-content">
    <div class="row">
      <div class="col-md-12">

        <div class="tile">

          <h3 class="tile-title">[[${pageTitle}]]</h3>
          <div class="tile-body">
            <div class="row element-button">
              <div class="col-sm-2">
                <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#exampleModalCenter"><b><i
                      class="fas fa-folder-plus"></i> Tạo chức vụ mới</b></a>
              </div>

            </div>
            <form class="row" th:action="@{/users/save}" method="post" 
            	enctype="multipart/form-data"
            	th:object="${user}"
            	onsubmit="return checkEmailUnique(this);">
				<input type="hidden" th:field = "*{id}" />
<!--               <div class="form-group col-md-4">
                <label class="control-label">ID nhân viên</label>
                <input class="form-control" type="text">
              </div> --> 
              <div class="form-group col-md-4">
                <label class="control-label">Họ và tên</label>
                <input class="form-control" type="text" th:field="*{fullName}" required minlength="2" maxlength="45">
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Địa chỉ email</label>
                <input class="form-control" type="email" th:field="*{email}" required minlength="8" maxlength="128">
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Địa chỉ thường trú</label>
                <input class="form-control" type="text" th:field="*{adress}" required>
              </div>
              <div class="form-group  col-md-4">
                <label class="control-label">Số điện thoại</label>
                <input class="form-control" type="number" th:field="*{phone}" required minlength="5" maxlength="55">
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Ngày sinh</label>
                <input class="form-control" type="date" th:field="*{date}" required>
              </div> 
              <div class="form-group  col-md-4">
                <label class="control-label">Nơi sinh</label>
                <input class="form-control" type="text" th:field="*{birthplace}" required>
              </div>
              <div class="form-group col-md-3">
                <label class="control-label">Số CMND</label>
                <input class="form-control" type="number" th:field="*{identity_card}" required>
              </div>
               <div class="form-group col-md-3">
                <label class="control-label">Ngày cấp</label>
                <input class="form-control" type="date" th:field="*{date_range}" required>
              </div>
              <div class="form-group col-md-3">
                <label class="control-label">Nơi cấp</label>
                <input class="form-control" type="text" th:field="*{issued_by}" required>
              </div>
               <div class="form-group col-md-3">
                <label class="control-label">Giới tính</label>
                <select th:field="*{sexs}" class="form-control">
						<option value="S01"    th:selected="(${sexs} == S01)">Nam</option>
						<option value="S02"    th:selected="(${sexs} == S02)">Nữ</option>
				</select>
              </div>

              <div class="form-group  col-md-3">
                <label for="exampleSelect1" class="control-label">Chức vụ</label>
                <select class="form-control" id="exampleSelect1"  th:field="*{roles}">
                  <option th:each="role : ${listRole}"  th:value="${role.id}">[[${role.name}]]</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label class="control-label">Bằng cấp</label>
                <select th:field="*{degrees}" class="form-control">
						<option value="E01"    th:selected="(${degrees} == E01)">Đại học/Cao đẳng</option>
						<option value="E02"    th:selected="(${degrees} == E02)">Trung cấp</option>
						<option value="E03"    th:selected="(${degrees} == E03)">Tốt nghệp phổ thông</option>
						<option value="E04"    th:selected="(${degrees} == E04)">Khác</option>
				</select>
              </div>
                <div class="form-group col-md-3">
                <label class="control-label">Tình trạng hôn nhân</label>
                <select th:field="*{maritals}" class="form-control">
						<option value="U01"    th:selected="(${maritals} == U01)">Độc thân</option>
						<option value="U02"    th:selected="(${maritals} == U02)">Đã kết hôn</option>
						<option value="U03"    th:selected="(${maritals} == U03)">Góa</option>
				</select>
              </div>

				<div class="form-group col-md-3">
					<label class="control-label">Mật khẩu</label> 
					<input class="form-control 1" th:if="${user.id == null}" type="password" th:field="*{password}" required minlength="4" maxlength="16">
					<input class="form-control 2" th:if="${user.id != null}" type="password" th:field="*{password}" placeholder="thay đổi mật khẩu hoặc giữ nguyên">
				</div>
				
  			<div class="form-group col-md-2">
                <label class="control-label">Ảnh 3x4 nhân viên</label>
                <div id="myfileupload">
                  <input type="hidden" th:field="*{photos}"/>
                  <input type="file" id="uploadfile" name="image" onchange="readURL(this);" />
                  
                </div>

                <div id="boxchoice">
                  <a href="javascript:" class="Choicefile"><i class='bx bx-upload'></i></a>
                  <p style="clear:both"></p>
                </div>

            </div> 
              
              
            <div class="form-group col-md-3">
                
                <div id="thumbbox">
                	
                  <img title="Vui lòng chọn 1 hình đại diện" class="img-fluid" width="150" th:if="${user.photos == null}" th:src="@{/images/default-image.jpg}" alt="Thumb image" id="thumbimage"/>
                  <img class="img-fluid" width="150" th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" alt="Thumb image" id="thumbimage"/>
                  <a class="removeimg" href="javascript:"></a>
                </div>
            </div> 
              
              <div class="form-group col-md-10">
                  <label>
                    <span class="label-text">Kích hoạt tài khoản:</span>
                    <input  type="checkbox" th:field="*{enabled}">
                  </label>              
              	</div>
              
              <div class="form-group col-md-10">
				<button style="background-color: green; color: white;" class="btn btn-save" type="submit" value="Save">Lưu lại</button>
          		<a class="btn btn-cancel" th:href="@{/users}" value="Cancel">Hủy bỏ</a>
          		</div>

			</form>
          </div>
          
        </div>
        
	</div>
	

  <!--
  MODAL
-->
<div th:replace="modal_fragments :: modal_dialog"></div>
  <!--
  MODAL
-->
	</div>
	
  </main>
 
 
 <script type="text/javascript">
  	function checkEmailUnique(form){
 		url = "[[@{/users/check_email}]]";
 		userEmail = $("#email").val();
 		userId = $("#id").val();
 		csrfValue = $("input[name='_csrf']").val(); 
 		params = {id: userId, email: userEmail, _csrf: csrfValue};
 			
 		$.post(url, params, function(response){
 			if(response == "OK"){
 				form.submit();
 			}else if(response == "Duplicated"){
 				showWarningModal("Email đã được đăng kí: " + userEmail);				
 			}else{
 				showErrorModal("Không thể kết nối tới máy chủ");
 			}
 			
 		}).fail(function(){
 			showErrorModal("Không thể kết nối tới máy chủ");
 		});
 		
 			
 		return false;
 	}
 	
 	
 	
  	function checkPhoneUnique(form){
 		url = "[[@{/users/check_phone}]]";
 		userPhone = $("#phone").val();
 		userId = $("#id").val();
 		csrfValue = $("input[name='_csrf']").val(); 
 		params = {id: userId, phone: userPhone, _csrf: csrfValue};
 			
 		$.post(url, params, function(response){
 			if(response == "OK"){
 				form.submit();
 			}else if(response == "Duplicated"){
 				showWarningModal("Số điện thoại này đã được đăng kí: " + userPhone);				
 			}else{
 				showErrorModal("Không thể kết nối tới máy chủ");
 			}
 			
 		}).fail(function(){
 			showErrorModal("Không thể kết nối tới máy chủ");
 		});
 		
 			
 		return false;
 	} 
 	
 	
 
 </script> 
  <!--===============================================================================================-->
<script th:src="@{/js/commom-form.js}"></script>
  <!--===============================================================================================-->


</body>

</html>