<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" id="divProductDetails">
		<th:block th:each="detail , status : ${product.details}">
			<div class="form-inline" th:id="'divDetail' + ${status.index}">
				<input type="hidden" name="detailIDs" th:value="${detail.id}" />
				<label class="m-3">Thuộc tính:</label>
				<input type="text" class="form-control w-25" name="detailNames" maxlength="255" placeholder="vd: Ram"
					th:value="${detail.name}"/>
				<label class="m-3">Dữ liệu:</label>
				<input type="text" class="form-control w-25" name="detailValues" maxlength="255" placeholder="vd: 8GB"
					th:value="${detail.value}"/>
				<a name="linkRemoveDetail" class="btn fas fa-times-circle fa-3x" 
				title="Xóa trường này"></a>
			</div>		
		</th:block>
		<div class="form-inline" th:id="'divDetail' + ${#lists.size(product.details)}">
			<input type="hidden" name="detailIDs" value="0" />
			<label class="m-3">Thuộc tính:</label>
			<input type="text" class="form-control w-25" name="detailNames" maxlength="255" placeholder="vd: Ram"/>
			<label class="m-3">Dữ liệu:</label>
			<input type="text" class="form-control w-25" name="detailValues" maxlength="255" placeholder="vd: 8GB"/>
		</div>
	</div>
</body>
</html>