<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="row">
			<div class="col border m-3 p-2">
				<div><label>Ảnh đại diện: [[${product.mainImage}]]</label></div>
				<div class="m-2">
					<img id="thumbnail" alt="Main image preview" class="img-fluid" width="200px"
					 th:src="@{${product.mainImagePath}}" >
				</div>
			</div>

			<th:block th:each="productImage , status : ${product.images} ">
				<div class="col border m-3 p-2">
					<div><label>Ảnh Chi tiết [[${status.index + 1}]]: [[${productImage.name}]]</label> 
					</div>
					<div class="m-2">
						<img 
							th:alt="'Extra image ' + ${status.index + 1} + ' preview'"
							class="img-fluid" width="200px"
							th:src="@{${productImage.imagePath}}">
					</div>
				</div>
			</th:block>
		</div>
	</div>
</body>
</html>